body {
  background-color: black;
  font-family: 'Bubblegum Sans', cursive;
  margin: 0px;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  width: 100%;
}

.header__img {
  margin-bottom: 3px;
  margin-left: 5px;
  margin-top: 5px;
  width: 80px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu--profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin-right: 8px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  text-align: right;
  width: 100px;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.header__menu p {
  color: white;
  margin: 0px;
}

.footer {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: grey;
}

.page-not-found {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: 5s latido infinite;
          animation: 5s latido infinite;
}

.page-title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 350px;
  font-size: 35px;
}

@-webkit-keyframes latido {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  47% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  48% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  54% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes latido {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  47% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  48% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  54% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style-404.css.map */